@import "mainstyle";

$img-url: "https://scontent.fhan6-1.fna.fbcdn.net/v/t1.0-9/22519206_1579228468809733_9143594181294346173_n.jpg?_nc_cat=0&oh=e72d874429ea3c1d730a03e52b990602&oe=5B7BB307";

.content
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.image-holder
{
  flex-grow: 1;
  box-shadow: $outer-shadow-strong;
  background-color: $primary-low;
  display: flex;
  justify-content: stretch;
  & > .the-image
  {
    flex-grow: 1;
    background: url($img-url) no-repeat center;
    background-size: cover;
    opacity: 0.75;
  }
}
