@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=vietnamese");

$blue: #77B6EA;
$pink: #F2A4A4;
$green: #ADF7B6;
$yellow: #FFEE93;
$orange: #f5942b;
$white: #fff;
$black: #000;
$dark: #111;
$dark-light: lighten($dark, 10%);
$dark-overlay: rgba(#000000, 0.5);

$theme-fb: #3b5998;
$theme-yt: #ff0000;

// Add a serif family
$family-serif: "Roboto";

// 3. Set the derived variables
$primary: #62C1EA;
$primary-light: lighten(desaturate($primary, 10%), 20%);
$primary-dark: darken(desaturate($primary, 15%), 20%);
$primary-bg: darken(desaturate($primary, 60%), 40%);

$primary-invert: $white;

$accent: $orange;
$accent-dark: darken($accent, 10%);

$bg-color: $dark-light;
$bg-color-light: lighten($bg-color, 10%);
$bg-color-bright: lighten($bg-color-light, 15%);

$shadow-color: transparentize($dark, 0.85);
$shadow-color-strong: transparentize($dark, 0.1);

$family-primary: $family-serif;

$shadow: 3px 3px 5px $shadow-color;
$bottom-shadow: 0 5px 5px $shadow-color;
$outer-shadow: 0 0px 10px $shadow-color;

$shadow-strong: 3px 3px 5px $shadow-color-strong;
$bottom-shadow-strong: 0 5px 5px $shadow-color-strong;
$outer-shadow-strong: 0 0px 15px $shadow-color-strong;

$text-color-primary: darken($white, 0);
$text-shadow: 0 0 0;

*
{
  font-family: $family-primary;
  color: $text-color-primary;
}

html, body, div
{
  margin: 0;
  padding: 0;
}

body
{
  background-color: $bg-color;
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 2em;
}

.header
{
  z-index: 10;
  background-color: $bg-color-light;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 10vh;

  & .nav-bar
  {
    flex-grow: 1;
    display: flex;
    justify-content: stretch;
    background-color: $bg-color-light;
    color: $text-color-primary;

    $theTransition: background-color 0.5s, color 0.25s, margin 0.25s, transform 0.25s;
    & a
    {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: auto;
      height: inherit;
      background-color: $bg-color;
      font-size: large;
      text-align: center;
      text-decoration: none;
      text-shadow: $text-shadow;
      font-weight: 400;
      box-shadow: $outer-shadow-strong;
      -webkit-transition: $theTransition;
      -moz-transition: $theTransition;
      -ms-transition: $theTransition;
      -o-transition: $theTransition;
      transition: $theTransition;
      color: $text-color-primary;

      &[class*="brand"]
      {
        & > img
        {
          height: 75%;
          object-fit: contain;
          filter: drop-shadow($text-shadow);
        }
      }

      &[class*="active"]
      {
        background-color: $primary-bg;
        & > img
        {
          filter: brightness(100);
        }
      }

      &:hover
      {
        background-color: $bg-color-bright;
        margin: 0 0.5em;
        $theTransform: translateY(0.5em);
        transform: $theTransform;
        -webkit-transition: $theTransform;
        -moz-transition: $theTransform;
        -ms-transition: $theTransform;
        -o-transition: $theTransform;
        transition: $theTransform;
      }
    }
  }
}

.margin-big
{
  margin: 4em;
}

.margin-med
{
  margin: 2em;
}

.margin-small
{
  margin: 0.5em;
}

.vert-margin-big
{
  margin-top: 4em;
  margin-bottom: 4em;
}

.vert-margin-med
{
  margin-top: 2em;
  margin-bottom: 2em;
}

.vert-margin-small
{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.padding-small
{
  padding: 0.5em
}

.two-line-title
{
  width: fit-content;
  margin: 0 auto;
  & > .title
  {
    margin-bottom: 0;
  }
  & > .subtitle
  {
    margin-top: 0;
  }
}

.title
{
  font-weight: bolder;
}

.subtitle
{
  font-weight: normal;
}

.text-no-decor
{
  text-decoration: none;
}

.center-text
{
  text-align: center;
}

.center-content
{
  display: flex;
  justify-content: center;
}

.circle
{
  border-radius: 50%;
}

.color-primary
{
  color: $primary;
}

.color-accent
{
  color: $accent;
}

.text-shadow
{
  text-shadow: $text-shadow;
}

.text-normal
{
  font-weight: 400;
}

.text-bold
{
  font-weight: 700;
}

.text-light
{
  font-weight: 100;
}

.text-italic
{
  font-style: italic;
}

.pop-up
{
  transform-origin: bottom center;
  $theTransition: transform 0.25s, background-color 0.25s;
  -webkit-transition: $theTransition;
  -moz-transition: $theTransition;
  -ms-transition: $theTransition;
  -o-transition: $theTransition;
  transition: $theTransition;

  &:hover
  {
    transform: scale(1.25);
    background-color: $bg-color-light;
  }
}

.none
{
  display: none !important;
}

.blurred
{
  $blur: blur(5px);
  -webkit-filter: $blur;
  -moz-filter: $blur;
  -o-filter: $blur;
  -ms-filter: $blur;
  filter: $blur;
}

.birthday-noti
{
  position: absolute;
  bottom: 0;
  right: 0;
  height: 500px;
  width: 33vw;
  padding: 1em 1em;
  background-color: $primary;
  display: flex;
  flex-direction: column-reverse;
  .the-noti
  {
    margin: 0.5em 0;
    width: 100%;
    height: 100px;
    background-color: $accent;
  }
}