@import url("https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&amp;subset=vietnamese");
* {
  font-family: "Roboto";
  color: #444; }

html, body, div {
  margin: 0;
  padding: 0; }

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0 2em; }

.header {
  background-color: white;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 5em; }

.margin-big {
  margin: 4em; }

.margin-med {
  margin: 2em; }

.margin-small {
  margin: 0.5em; }

.vert-margin-big {
  margin-top: 4em;
  margin-bottom: 4em; }

.vert-margin-med {
  margin-top: 2em;
  margin-bottom: 2em; }

.vert-margin-small {
  margin-top: 0.5em;
  margin-bottom: 0.5em; }

.padding-small {
  padding: 0.5em; }

.two-line-title {
  width: fit-content;
  margin: 0 auto; }
  .two-line-title > .title {
    margin-bottom: 0; }
  .two-line-title > .subtitle {
    margin-top: 0; }

.title {
  font-weight: bolder; }

.subtitle {
  font-weight: normal; }

.text-no-decor {
  text-decoration: none; }

.center-text {
  text-align: center; }

.center-content {
  display: flex;
  justify-content: center; }

.circle {
  border-radius: 50%; }

.color-primary {
  color: #A0CED9; }

.text-shadow {
  text-shadow: 0 0 0; }

.text-normal {
  font-weight: normal; }

.text-bold {
  font-weight: bold; }

.text-light {
  font-weight: lighter; }

.nav-bar {
  height: 100%;
  display: flex;
  justify-content: stretch;
  background-color: #c6e0e6; }
  .nav-bar a {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: auto;
    height: 100%;
    background-color: #fff;
    font-size: large;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 0 0;
    font-weight: lighter;
    box-shadow: 0 0px 10px rgba(68, 68, 68, 0.15);
    -webkit-transition: background-color 0.5s, color 0.25s, margin 0.25s;
    -moz-transition: background-color 0.5s, color 0.25s, margin 0.25s;
    -ms-transition: background-color 0.5s, color 0.25s, margin 0.25s;
    -o-transition: background-color 0.5s, color 0.25s, margin 0.25s;
    transition: background-color 0.5s, color 0.25s, margin 0.25s; }
    .nav-bar a[class*="brand"] > img {
      height: 75%;
      object-fit: contain;
      filter: drop-shadow(0 0 0); }
    .nav-bar a:hover {
      background-color: #A0CED9;
      color: #fff;
      margin: 0.5em; }
    .nav-bar a[class*="active"] {
      background-color: #A0CED9;
      color: #fff; }
      .nav-bar a[class*="active"] > img {
        filter: brightness(100); }

.pop-up {
  transform-origin: bottom center;
  -webkit-transition: transform 0.25s, background-color 0.25s;
  -moz-transition: transform 0.25s, background-color 0.25s;
  -ms-transition: transform 0.25s, background-color 0.25s;
  -o-transition: transform 0.25s, background-color 0.25s;
  transition: transform 0.25s, background-color 0.25s; }
  .pop-up:hover {
    transform: scale(1.25);
    background-color: #c6e0e6;
    color: #fff; }

.none {
  display: none !important; }

.blurred {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px); }

.content {
  flex-grow: 1;
  display: flex; }

.ppl-group {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly; }
  .ppl-group > .ppl-group-row {
    height: 20vh;
    display: flex;
    justify-content: space-evenly; }
    .ppl-group > .ppl-group-row > .person {
      display: block;
      height: 100%; }
      .ppl-group > .ppl-group-row > .person > .person-avatar {
        height: 100%;
        width: auto;
        cursor: pointer;
        object-fit: contain;
        border-radius: 50%;
        border: 3px dashed #7cbbca;
        -webkit-transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        -moz-transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        -ms-transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        -o-transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s; }
        .ppl-group > .ppl-group-row > .person > .person-avatar:hover:not([class*="picked"]) {
          -webkit-transform: scale(1.25);
          -moz-transform: scale(1.25);
          -ms-transform: scale(1.25);
          -o-transform: scale(1.25);
          transform: scale(1.25); }

#black-screen {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
  -webkit-transition: opacity 0.25s;
  -moz-transition: opacity 0.25s;
  -ms-transition: opacity 0.25s;
  -o-transition: opacity 0.25s;
  transition: opacity 0.25s;
  opacity: 1; }
  #black-screen[class*="none"] {
    display: block !important;
    pointer-events: none;
    opacity: 0; }
  #black-screen > .pressable {
    position: absolute;
    width: 100%;
    height: 100%; }
  #black-screen > .person-info {
    position: absolute;
    top: calc(5vh + 7.5em);
    left: calc(5vh + 7.5em);
    bottom: 5em;
    right: 5em;
    background-color: #fff;
    border-radius: 2em;
    border: 3px dashed #7cbbca;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em; }
    #black-screen > .person-info > .separator {
      margin: 1em 3em;
      height: 3px;
      background-color: rgba(0, 0, 0, 0.5);
      border-radius: 2px; }
    #black-screen > .person-info > .info {
      margin: 0.75em 3em;
      font-size: large;
      font-weight: normal; }
      #black-screen > .person-info > .info > v {
        font-weight: 300; }
    #black-screen > .person-info > .fill {
      flex-grow: 1; }
  #black-screen > .person-image {
    position: absolute;
    top: 5vh;
    left: 5vh;
    width: 15em;
    height: 15em;
    margin: auto;
    object-fit: contain;
    border-radius: 50%;
    border: 3px dashed #7cbbca; }

.person-info > .title {
  margin-left: 9em; }

/*# sourceMappingURL=people.css.map */
