@import "mainstyle";

$border-dash: 2px dashed $primary;

.content
{
  flex-grow: 1;
  display: flex;
}

.ppl-group
{
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  & > .ppl-group-row
  {
    height: 20vh;
    display: flex;
    justify-content: space-evenly;
    & > .person
    {
      display: block;
      height: 100%;
      & > .person-avatar
      {
        height: 100%;
        width: auto;
        cursor: pointer;
        object-fit: contain;
        border-radius: 50%;
        border: $border-dash;
        box-shadow: $outer-shadow-strong;
        $transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        &:hover:not([class*="picked"])
        {
          $transform: scale(1.25);
          -webkit-transform: $transform;
          -moz-transform: $transform;
          -ms-transform: $transform;
          -o-transform: $transform;
          transform: $transform;
        }
      }
    }
  }
}

#black-screen
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  $transition: opacity .25s;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  opacity: 1;
  background-color: unset;

  &[class*="none"]
  {
    display: block !important;
    pointer-events: none;
    opacity:0;
  }

  & > .pressable
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark-overlay;
  }

  & > .person-info
  {
    position: absolute;
    top: calc(5vh + 7.5em);
    left: calc(5vh + 7.5em);
    bottom: 5em;
    right: 5em;
    background-color: $white;
    border-radius: 2em;
    border: $border-dash;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1em;
  }

  & > .person-image
  {
    position: absolute;
    top: 5vh;
    left: 5vh;
    width: 15em;
    height: 15em;
    margin: auto;
    object-fit: contain;
    border-radius: 50%;
    border: $border-dash;
  }
}

.person-info
{
  & > .title
  {
    margin-left: 9em;
  }
}