@import "mainstyle";

$border-dash: 2px dashed $primary;

.content
{
  height: 90vh;
  display: flex;
}

.ppl-group
{
  width: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;

  & > #bg-stripes
  {
    z-index: -1;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    & > .stripe
    {
      flex-grow: 1;
      width: 100%;
      &[class*='even']
      {
        background-color: $bg-color-light;
      }
    }

  }

  & > .ppl-group-row
  {
    z-index: 4;
    flex-grow: 1;
    display: flex;
    justify-content: center;

    & > .person
    {
      background: transparent none;
      margin: auto 1em;
      & > .person-avatar
      {
        margin: 0;
        padding: 0;
        cursor: pointer;
        object-fit: cover;
        border-radius: 50%;
        border: $border-dash;
        box-shadow: $outer-shadow-strong;
        $transition: transform 0.5s, position 0.5s, top 0.5s, left 0.5s;
        -webkit-transition: $transition;
        -moz-transition: $transition;
        -ms-transition: $transition;
        -o-transition: $transition;
        transition: $transition;
        &:hover:not([class*="picked"])
        {
          $transform: scale(1.25);
          -webkit-transform: $transform;
          -moz-transform: $transform;
          -ms-transform: $transform;
          -o-transform: $transform;
          transform: $transform;
        }
      }
    }
  }
}

#black-screen
{
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: block;
  $transition: opacity .25s;
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
  opacity: 1;
  background-color: unset;

  &[class*="none"]
  {
    display: block !important;
    pointer-events: none;
    opacity: 0;
  }

  & > .pressable
  {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $dark-overlay;
  }

  $infoPadding: 7em;

  & > .person-info
  {
    position: absolute;
    top: $infoPadding;
    bottom: $infoPadding;
    left: $infoPadding;
    right: $infoPadding;
    background-color: $bg-color;
    border-radius: 5em 2em 2em 2em;
    border: $border-dash;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    & *
    {
      background: unset;
    }

    & > .main-info
    {
      height: 10em;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 5em;
      padding-left: 7em;
      width: calc(100% - 12em);
      background: linear-gradient(90deg, transparentize($primary, 0.5), transparentize($primary, 0.9));
      margin-bottom: 1em;
    }

    & > .sub-info
    {
      flex-grow: 1;
      overflow-y: scroll;

      &::-webkit-scrollbar
      {
        width: 10px;
      }

      &::-webkit-scrollbar-track
      {
        background: transparent;
      }

      &::-webkit-scrollbar-thumb
      {
        background: $bg-color-bright;
        border-radius: 10px;
      }

      & > .info
      {
        margin: 0.5em 3em;
        font-size: large;
        font-weight: 200;
        & v
        {
          color: $accent;
          font-weight: 500;
        }
      }
      & > .fill
      {
        flex-grow: 1;
      }
    }
  }

  & > .person-image
  {
    position: absolute;
    top: $infoPadding;
    left: $infoPadding;
    width: 10em;
    height: 10em;
    margin: auto;
    object-fit: cover;
    border-radius: 50%;
    border: $border-dash;
  }
}
