@import "mainstyle";

.content
{
  height: 90vh;
  display: flex;
}

#videosHere
{
  width: 100%;
  & > .avideo
  {
    width: 100%;
    display: flex;
    justify-content: center;

    &[class*='yt']
    {
      background-color: transparentize($theme-yt, .9);
    }

    &[class*='fb']
    {
      background-color: transparentize($theme-fb, .9);
    }

    & > iframe
    {
      margin: 2em;
      $vidWidth: 50vw;
      width: $vidWidth;
      height: calc(#{$vidWidth} * 9 / 16);
      border: 2px dashed $white;
      box-shadow: $outer-shadow-strong;
    }
  }
}
